@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #fff9f1;
  --primary: #85cb33;
  --primary-hover: #b2e676;
  --primary-clicked: #509500;
  --cta: #ea9010;
  --cta-hover: #ffbc5e;
  --cta-clicked: #c47300;
  --text: #1d1b19;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Indie Flower", sans-serif;
  font-weight: 400;
}

p,
a,
li,
span,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text);
}

body {
  background-color: var(--background);
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
main,
footer {
  min-width: 320px;
  max-width: 420px;
}

#start img, #end img {
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  color: white;
}

#start img:hover, #end img:hover {
  animation-name: bounce;
  -moz-animation-name: bounce;
  box-shadow: var(--cta) 0px 2px 0px;
  padding-bottom: 4px;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform:     translateY(-10px);
    transform:         translateY(-10px)
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform:     translateY(-5px);
    transform:         translateY(-5px)
  }
}
