@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #fff9f1;
  --primary: #85cb33;
  --primary-hover: #b2e676;
  --primary-clicked: #509500;
  --cta: #ea9010;
  --cta-hover: #ffbc5e;
  --cta-clicked: #c47300;
  --text: #1d1b19;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Indie Flower", sans-serif;
  font-weight: 400;
}

p,
a,
li,
span {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text);
}

body {
  background-color: #ffffff;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

header,
main,
footer {
  min-width: 320px;
  max-width: 420px;
}
