:root {
  --background: #fff9f1;
  --primary: #85cb33;
  --primary-hover: #b2e676;
  --primary-clicked: #509500;
  --cta: #ea9010;
  --cta-hover: #ffbc5e;
  --cta-clicked: #c47300;
  --text: #1d1b19;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
}

p,
a,
li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--text);
}

body {
  background-color: var(--background);
  max-width: 420px;
}
