@import "reset.css";
@import "constants.css";
@import "header-and-footer.css";

body {
    width: 320px;
    margin: 0;
}

main {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
}

.btn-toggle-pantry {
    background-color: var(--primary);
    width: 240px;
    height: 40px;
    border-radius: 8px;
    border-style: none;
    margin: 1rem 0;
}

.pantry-recipes-container {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Indie Flower", cursive;
    margin-bottom: 1rem;
}

.my-pantry-how-to {
    width: 240px;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.toggle-filter-menu {
    display: none;
}

.filter-menu {
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.food-category-container {
    width: 240px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-item-category-btn {
    width: 240px;
    height: 32px;
    background-color: var(--primary);
    border-style: none;
    border-radius: 8px 8px 0 0;
}

.food-list-items-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1rem;
}

.food-list-item {
    width: 200px;
    border: 1px solid var(--text);
    border-radius: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.find-recipe-btn {
    width: 240px;
    height: 32px;
    border-style: none;
    border-radius: 8px;
    background-color: var(--cta);
    font-family: "Indie Flower", cursive;
}

.dairy-container {
    display: none;
}

.vegetables-container {
    display: none;
}

.meat-container {
    display: none;
}

.rice-container {
    display: none;
}

