@import "reset.css";
@import "constants.css";
@import "header-and-footer.css";

body {
  background-color: var(--background);
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h2 {
  font-size: 24px;
  padding: 2px 0;
}

.recipe-title {
  font-size: 32px;
  margin: 20px 0 10px 0;
}

.favourite-recipe-btn {
  height: 36px;
  align-self: flex-end;
  align-self: center;
  pointer-events: visible;
  /* position: relative; */
  /* bottom: 68px; */
  cursor: pointer;
}

.img-fav-div {
  display: flex;
  justify-content: space-between;
}

.recipe-detail-ingredients {
  display: flex;
  justify-content: space-between;
}

.ingredient-amounts {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipe-quick-info {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.recipe-quick-info span {
  font-weight: 600;
}

.recipe-detail-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.recipe-instuctions li {
  list-style: decimal;
  padding: 4px;
}

.recipe-instuctions {
  margin-bottom: 40px;
}
